// -----------------------------------------------------------------------------
// This file contains all styles related to the slider component.
// -----------------------------------------------------------------------------

.banner {
    background-image: image('img_hero.jpg');
    height: calc(100vh - 48px);

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .main-title {
        color: $brand-color;
        font-size: 4rem;
        font-weight: 900;
    }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .banner {
        .main-title {
            font-size: 6.25rem;
        }
    }
}