/**
 * Basic typography style for copy text
 */
 
// body {
//     color: $text-color;
//     font: normal 125% / 1.4 $text-font-stack;
// }

html {
    font: normal 75% / 1.4 $text-font-stack;
}

body {
    color: $text-color;
    font: inherit;
}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    html {
        font-size: 100%;
    }
}
