// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 12px solid $secondary;
    background-color: $brand-color;
    padding: 20px 0;

    .nav-list {
        .nav-list__item {
            h3 {
                color: $secondary;
                font-size: 1.25rem;
                font-weight: 900;
            }

            h4 {
                color: $white;
                font-size: 0.875rem;
                font-weight: 400;
            }

            &.contact-us {
                margin-top: 30px;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    footer {
        height: 320px;
    }
}